
<div id='dva' class='card'>
    <div class = 'card-body prefix grey-text'>
        <form  class = 'table-responsive form-group has-warning has-feedback' [formGroup]= "formGroup">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                         Vnesi ime na recepta
                            <input  type= 'name' class="form-control" formControlName="name"  required minlength="4" appForbiddenName="bob"  />
                            
                        </th>
                        <th> Vnesi RecipeSource
                            <input type='RecipeSource'class="form-control" formControlName="source" required minlength="3"/>
                        </th>
                        <th> Vnesete sostojki
                            <input type= 'Ingredients' class="form-control" formControlName="ingredients" required minlength="3"/>
                        </th>
                        <th> Vnesete instrukcijaa
                            <textarea type=  'PreparationInstruction' class="form-control" formControlName="instruction" required maxlength="30"> </textarea>
                           
                        </th>
                         <th> Vnesete potrebno vreme
                            <input type=  'PreparationTime' class="form-control" formControlName="time" required minlength="4" required maxlength="4"/>
                        </th>
                        <th>
                            <button class= "btn btn-primary" (click)="recipeCreate()">Show</button>
                        </th>
                    </tr>
                    
                </thead>
            </table>
        </form>

        <div class = 'row'>
        <div class = 'col-md-2' >Filter:</div>
            <div class= 'col-md-4'>
                <input type= 'text' class="form-control" [(ngModel)] = 'filterRecipe'/>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'cool-md-6'>
                <h4>Filtered by:{{filterRecipe}}</h4>
            </div>
        </div>

        <div class = 'table-responsive'>
            <table class = 'table'>   
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Recipe Name</th>
                        <th>Recipe Source</th>
                        <th>Ingredients</th>
                        <th>Number of Ingredients</th>
                        <th>Preparation Instruction</th>
                        <th>Preparation Time</th>
                        <th>
                            Action
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container matColumnDef="expandedDetail">
                    <tr *ngFor='let rec of filteredRecipes.slice() ' [attr.id]="rec.recipeID" >
                      
                        <td >{{rec.recipeID}}</td>
                        <td>{{rec.recipeName}}</td>
                        <td>{{rec.recipeSource | slice:0:30}}</td>
                        <td>{{rec.recipeIngredients | slice:0:3}}</td>
                        <td>{{rec.recipeNumberofIngredients}}</td>
                        <td >{{rec.recipePreparationInstruction | slice:0:15}}</td>
                        <td>{{rec.recipePrepartionTime | slice:0:2}}:{{rec.recipePrepartionTime | slice:2:4}} 
                        </td>
                       <td> <button class= "btn btn-primary" (click)="openDialog()">Show</button></td>
                        <td>
                            <button class = "btn btn-primary" id="remove"  (click)="openDialogConfirmation(rec.recipeID) ">Delete</button>
                        </td>
                        
                    </tr>
                    </ng-container>
                </tbody>
              
            </table>           
        </div>

    </div>
</div>      